---
import type { CollectionEntry } from "astro:content";
import PostTags from "../components/PostTags.astro";
import CopyCode from "../components/CopyCode.astro";
import Home from "./Home.astro";
import "../styles/callouts.css";

type Props = CollectionEntry<"posts">;
const { data } = Astro.props;
const { title, date, tags, summary } = data;
const jsDate = new Date(date);
---

<Home title={title} active="posts">
  <CopyCode />
  <article class="h-entry">
    <h1 class="p-name mb-0">{title}</h1>
    <p class="flex gap-2">
      {
        date && (
          <time class="dt-published" datetime={jsDate.toISOString()}>
            {jsDate.toLocaleDateString()}
          </time>
        )
      }
      <span aria-hidden="true">/</span>
      {
        tags.length > 0 && (
          <span>
            tagged: <PostTags tags={tags} />
          </span>
        )
      }
    </p>
    <p class="hidden p-summary">{summary}</p>
    <div class="e-content prose">
      <slot />
    </div>
  </article>
</Home>
