---
import type { CollectionEntry } from "astro:content";
import PostTags from "../components/PostTags.astro";
import CopyCode from "../components/CopyCode.astro";
import Home from "./Home.astro";
import SEO, { type SEOProps } from "../components/SEO.astro";
import { PostComments } from "../components/PostComments.tsx";
import { PUBLIC_COMMENT_SERVER } from "astro:env/client";
import "../styles/callouts.css";

type Props = CollectionEntry<"posts">;
const { data } = Astro.props;
const { title, date, tags, summary, update_date, slug } = data;
const jsDate = new Date(date);
const article: SEOProps["article"] = {
  published_time: jsDate.toISOString(),
  modified_time: update_date ? new Date(update_date).toISOString() : undefined,
  tags,
};
---

<Home title={title} active="posts">
  <Fragment slot="head">
    <SEO title={title} article={article} description={summary} />
  </Fragment>
  <CopyCode />
  <article class="h-entry">
    <h1 class="p-name mb-0">{title}</h1>
    <p class="flex gap-2">
      {
        date && (
          <time class="dt-published" datetime={jsDate.toISOString()}>
            {jsDate.toLocaleDateString()}
          </time>
        )
      }
      <span aria-hidden="true">/</span>
      {
        tags.length > 0 && (
          <span>
            tagged: <PostTags tags={tags} />
          </span>
        )
      }
    </p>
    <p class="hidden p-summary">{summary}</p>
    <div class="e-content prose">
      <slot />
    </div>
  </article>
  <PostComments
    client:only="react"
    slug={slug}
    commentServer={PUBLIC_COMMENT_SERVER}
  />
</Home>
